body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(194, 216, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  padding: 3rem;
  overflow: hidden;
}

.margin-horizontal {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-vertical {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
